build
.vscode
.idea
*.dSYM
.DS_Store
Dockerfile

# We will ignore this by default, add files manually
bootstrap/*
!bootstrap/stage0.c

test.oc
./*.c

a.out
out
ocen
find
test.txt

out.c
out

*.ppm
*.png
*.qoi
